streamlit
pandas
numpy
matplotlib
scikit-learn
nltk
summa
pymupdf==1.22.5  # Specify the latest stable version
pillow
python-docx
requests
beautifulsoup4
openpyxl
rouge
rouge_score
textstat
validators
pytesseract  
tesseract-ocr-w64-setup-5.5.0.20241111 (1).exe
